#background-video {
height: 100vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}

nav {
text-align: center;
}

.bouton {
    line-height: 2.5;
    padding: 0 20px;
    border: none;
    background: none;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

}

.bouton:hover {
    color: #0064fe;
}

.bouton:active {
    color: #f90002;
}

h1, h2, footer {
color: white;
font-family: Trebuchet MS;
font-weight: bold;
text-align: center;
text-shadow: black 2px 0 10px;

}

h1 {
font-size: 6rem;
margin-top: 30vh;
}

h2 { 
font-size: 3rem; 
}