html {
    background-color: #E7D6AE;
}

body { 
    background-color : #A69976;
    margin : 0px 100px 0px 100px;
    padding: 0px 0px 60px 0px;
    box-shadow:  0px 0px 50px 20px black;
}

header {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: 400px;
    color : #3B3837;
    font-family: Enchanted Land;
    font-size: 25px;
    margin : 0;
    
}

nav {
    text-align: center;
    font-family: Times new roman;
    font-weight: bold;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

nav a {
    background-color : #663399;
    border: 2px solid #663399;
    box-shadow: 5px 5px 5px #663399;
    margin: 10px 15px;
    padding: 20px 20px;
    font-size: 30px;
}
header a:link {
  color: white;
}

header img {
    margin: 0px 0px 0px 565px;
}

header a:visited {
  color: white;
}

header a:hover {
  color: #3B3837;
}

header a:active {
  color: #663399;
}

a:link {
  color: black;
}

a:visited {
  color: #3B3837;
}

a:hover {
  color: white;
}

a:active {
  color: red;
}

section {
    min-height: 300px;
    background-color: #A69976;
    margin: 50px 50px;
    flex-grow: 1;
    align-items: flex-start;
    text-align: center;
}

section h2 {
    color : #8B0000;
    font-size : 40px;
    margin: 20px 70px;
}
section h3 {
    color : #8B0000;
    font-size : 30px;
    margin: 15px 30px;
}

section a {
    margin: 10px 30px;
    font-family: Enchanted Land;
    font-size: 20px;
    background-color : #A69976;
    border: 1px solid #A69976;
    padding: 1px 5px;
    border-radius: 15px 15px 15px 15px;
    display: inline-flex;
}

section p {
    font-family: Enchanted Land;
    font-size: 35px;
    color: #3B3837;
}
    
section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    margin: 60px 30px;
    width: 60%;
    height: 200px;
    border: 2px solid #8B0000;
    overflow: auto; 
    box-shadow: 20px 20px 10px #8B0000;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    overflow: auto; 
    min-height: 150px;
    min-width: 500px;
    padding: 120px 40px 40px 40px;
}

article img {
    box-shadow: 15px 15px 10px #555555;
    margin: 5px 5px;
}
 ul {
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
}

 li {
    display: list-item;
    font-family: Enchanted Land;
    font-size: 20px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: Enchanted Land;
    font-size: 40px;
    color: #BA55D3;
    background-image: src= images/image_a.PNG;
    align-items: flex-end;
    margin: 200px 200px 10px 200px;
}

#recherche {
    display: inline-flex;
    margin: 5px 10px;
}

label {
    margin : 10px 30px;
    font-family: Enchanted Land;
    font-size: 18px;
    display: inline-block;
    width: 120px;
    vertical-align: top;
}
label.radio {
        display: inline;
      }
label.radio::after {
        content: "";
      }
input:required{
        color: red;
      }

button { 
    margin : 10px 30px;
    font-family: Enchanted Land;
    font-size: 18px;
}

form {
    box-shadow: 15px 15px 10px #555555;
    margin: 30px 30px;
    padding: 40px, 40px;
    font-size: 25px;
    font-family: Enchanted Land;
    box-sizing: border-box;
}

form legend {
    font-family: Enchanted Land;
    font-weight: bold;
    font-size: 35px;
}

iframe { 
    margin : 20px 40px;
    box-shadow: 15px 15px 10px #555555;
}

footer a {
    background-color : #94855C;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    margin: 0;
    padding: 25px 30px;
    font-size: 30px;
    color: #3B3837;
    position: relative;
    bottom: 30px;

}
footer {
    text-align : center;
    font-family: Enchanted Land;
    font-size: 30px;
    color : #3B3837;
    background-color: #A69976;
    margin: 0;
}