#background-video {
height: 100vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}

nav {
text-align: right;
margin-right: 1vw;
margin-top: 1vh;
}

.bouton {
    line-height: 2.5;
    padding: 0 20px;
    border: none;
    background: none;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;

}

.bouton:hover {
    color: #0064fe;
    text-decoration: underline;
}

.bouton:active {
    color: white;
    text-decoration: underline;
}

.boutoncontact {
    line-height: 2.5;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #000;
    background: #0064fe;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;

}

.boutoncontact:hover {
    color: black;
    text-shadow: none;
}

.boutoncontact:active {
    color: white;
}

h1, h2{
color: white;
font-family: Trebuchet MS;
font-weight: bold;
text-align: center;
text-shadow: black 2px 0 10px;

}

h1 {
font-size: 6rem;
margin-top: 30vh;
}

h2 { 
font-size: 3rem; 
}

img {
  border: 0.5rem solid white;
  width: 40vw;
  display-internal: table;
  box-shadow: black 2px 0 10px;
  font-family: Trebuchet MS;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

img:hover {
  border: 0.5rem solid #0064fe;
  box-shadow: black 2px 0 10px;
}

img:active {
  border: 0.5rem solid #f90002;
  box-shadow: black 2px 0 10px;
}

section {
text-align: center;
margin-top: 32.5vh;
}