

body {
    background: transparent url('../image/fond.jpg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    margin: 0;
    }

header {
    margin: 90px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header img {
    background: transparent url('img/Capture.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

section {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

section img {
    float: left;
    margin: 100px 10px 10px 60px;
}

section p {
    text-align: center;
    font: normal normal normal 51px/60px Enchanted Land;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

footer article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin : 0;
}

footer p {
    text-align: center;
    font: normal normal normal 20px/23px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

article img {
    position: relative;
    bottom: 150px;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin : 30px;
}
    
a:link {
  color: black;
}

a:visited {
  color: #3B3837;
}

a:hover {
  color: white;
}

a:active {
  color: red;
}

