* {
	padding: 0;	
	margin: 0;
	box-sizing: border-box; 
	font-family: Trebuchet MS;
 }


#background {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

/*TITRES*/

h1, h2, h3, h4, h5 {
	color: white;
	font-family: Trebuchet MS; 
	font-weight: bold;
	text-align: center;
	text-shadow: black 2px 0 10px;
}

h1 {
	font-size: 6rem;
	margin-top: 30vh;
}

h2 { 
	font-size: 5rem; 
	margin-bottom: 40vh;
}

h3 {
	font-size: 4rem;
	margin-top: 20vh;
	margin-bottom: 20vh;
}

h4 {
	font-size: 3rem; 
	margin-top: 5vh;
	margin-bottom: 5vh;	
}

h5 {
	font-size: 2rem; 
	margin-top: 3vh;
	margin-bottom: 3vh;	
}

/*NAV*/

nav {
	text-align: center;
}

.nav-container {
	background-color: #20448C;
	padding: 0.5rem 0 0.5rem 0;
 }

.bouton {
    line-height: 2.5;
    padding: 0 20px;
    border: none;
    background: none;
    font-family: Trebuchet MS;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;

}

.bouton:hover {
    color: black;
    text-decoration: underline;
	transition: 0.3s ease-out;
	text-shadow: none;
}

.bouton:active { 
	color: white;
	text-shadow: 1px 1px 1px #000; 
}

/*ENCADRE*/

.encadre {
	padding: 2em;	
    text-align: center;	
    background-color: #20448C90;
}

.empty {
	padding: 5em;	
}

/*PHOTOS*/

.photos {
	border: 0.5rem solid white;
	width: 40vw;
	box-shadow: black 2px 0 10px;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 2rem;
	padding:5px 5px;
}

.photos:hover {
	border: 0.5rem solid #20448C;
	transition: 0.3s ease-out;
}

.photos:active { 
	border: 0.5rem solid white; 
}

.table {
	display: table;
	border-collapse: separate;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 20vh;
	border-spacing: 10px;
}

.row { 
	display: table-row; 
	text-align: center;
}

.cell { 
	display: table-cell; 
}

/*CALENDRIER*/

.calendrier {
	margin-bottom: 10vh;
}

 .collapsible {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: center;
	outline: none;
	font-size: 15px;
	border: 1px solid #ddd;
}

.bordure {
	background-color: white;
	width: 100%;
	border: none;
	padding: 5px;
}

.active, .collapsible:hover {
	background-color: #20448C;
	color: white;
	border: none;
}

.contenu {
	padding: 0 18px;
    width: 100%;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.contenu p {
	padding: 15px;
}

.tableau {
	border-collapse: collapse;
	width: 100%;
}

.tableau td, #customers th {
	border: 2px solid #ddd;
	padding: 10px;
}

.tableau tr:nth-child(even){background-color: #f2f2f2;}

.tableau th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: white;
  color: black;
}

.iconelieu {
  text-decoration: none;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
}

.active:after {
  content: "\2796";
}

/*CONTACT*/

.mail {
	color: white;
	text-shadow: 1px 1px 1px #000; 
    text-decoration: none;	
}

.mail:hover {
	color: black;
	text-shadow: none; 
    text-decoration: underline;	
	transition: 0.3s ease-out;	
   	
}

.mail:active {
	color: white;
	text-shadow: 1px 1px 1px #000; 	
}

/*FOOTER*/

.footer-container {
  background-color: #20448C;
  padding: 3rem 0 0rem 0;
  box-shadow: black 2px 0 10px;
 }

 .footer {
   width: 80%;
   height: 40vh;
   background-color: #20448C;
   color: white;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 auto;
 }
 
 .footer-heading {
   display: flex;
   flex-direction: column;
   margin-right: 4rem;
 }
 
 .footer-heading h2 {
   margin-bottom: 2rem;
   font-size: 2rem;
   font-weight: none;
   text-shadow: none;
 }
 
 .footer-heading a {
   color: white;
   text-decoration: none;
   margin-bottom: 0.5rem;
   text-align: center;
 }
 
 .footer-heading a:hover {
   color: black;
   transition: 0.3s ease-out;
 }